
#icono-logo{

    color:orange;


}

.encabezado
{
  background-color:#12489e;
  color:white;
}
.encabezado hr{
  background-color:white;
}


#sub-menu-principal{
    background-color:lightblue;
    height: 30px;
    color:black;
    font-weight: bold;
}

