
  <div class="row encabezado" >

    <div class="col-4">
      <h1><span id="icono-logo">MP-A</span>dmin</h1>
      <hr>
    </div>

    <div class="col-8 text-right">
      <h6>Sistema de administración de Market Places</h6>
    </div>
  </div>
 <div class="row " id="sub-menu-principal">
   <div class="col-12 text-right">
     <a>
      <i class="bi bi-person-fill"></i>
      {{usuario}}
     </a>

    &nbsp;
    <a (click)="logOut()" class="txt-btn-1">
      <i class="bi bi-box-arrow-right"></i>
      salir
    </a>

   </div>
 </div>




