<mat-toolbar>
  <span>
    <span class="material-icons" id="icono-logo">
      construction
    </span>
    MPA-Admin
  </span>

  <div  fxFlex fxLayout="row" fxLayoutAlign="flex-end"  >

    <h1>
      Sistema de administración de marketplaces.
    </h1>
  </div>
</mat-toolbar>

<mat-toolbar id="sub-menu-principal" *ngIf="showbtntools">
    <button mat-icon-button (click)="onMenuToggleDispatch()">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <label class="label-button"(click)="onMenuToggleDispatch()">
      Herramientas
    </label>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <h1>
        {{usuario}}
      </h1>
    </div>
    <button mat-icon-button (click)="logOut()">
      <mat-icon>
        logout
      </mat-icon>

    </button>
</mat-toolbar>
