<section fxLayoutAlign="center">
  <mat-card>
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      #f="ngForm"
      (ngSubmit)="loginUsuario(f)"
    >
      <div style="width:100%;text-align:center">
        <mat-icon style="height:70px;width:70px;font-size:60px;" >person</mat-icon>
        <br>
        <label>Iniciar sesion</label>
      </div>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Usuario" name="username" ngModel required>
        <mat-error>Debe ingresar un usuario.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="contraseña" name="password" ngModel required>
        <mat-error>Debe ingresar una contraseña.</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit">
          Entrar
      </button>
    </form>
  </mat-card>
</section>
