
mat-sidenav-container{
height: 100%;
z-index:30;

}
mat-sidenav-content{
  z-index: 5;
}
mat-sidenav{
  height: calc(100% - 95px);
  top:95px;
  z-index:10;
  width:300px;
}



ul{
    list-style: none;
    padding:0;
    margin:0;
}
