/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.txt-btn-1{
  font-size:15px;
  font-weight:bold;
  cursor:pointer;
  color:black;
  text-decoration:none;

}

