
<ul class="nav flex-column" >
  <li class="nav-item">
    <h4 style="margin-left:10px;">Menu</h4>
  </li>
  <li class="nav-item" >
    <a class="nav-link" (click)="expandMenu(statusmenu.maintenance)">
      <i class="bi bi-wrench-adjustable"></i>
      Mantenimiento

      <span *ngIf="statusmenu.maintenance.showiconcontraer" >
        {{statusmenu.maintenance.iconcontraer}}
      </span>
    </a>
    <ul class="nav flex-column sub-nav" *ngIf="statusmenu.maintenance.iconcontraer=='-'">
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/inventory/maintenance/provider/search/']">
          <i class="bi bi-truck-flatbed"></i>
            Proveedores
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
